--
-- PostgreSQL database dump
--

\restrict I2iyZvyjIwvm95Wp1mJQ6775UeDaoq4MB7MhgNCunnFnbEN2xrEe1rT5ooQTvQ2

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    student_id integer,
    name character(50),
    age integer,
    grade character(1)
);


ALTER TABLE public.students OWNER TO postgres;

--
-- PostgreSQL database dump complete
--

\unrestrict I2iyZvyjIwvm95Wp1mJQ6775UeDaoq4MB7MhgNCunnFnbEN2xrEe1rT5ooQTvQ2

